.navbar-brand {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: xx-large;
    letter-spacing: 0.2rem;
}

.navbar-toggler {
    transition: 0.15s;
    background: rgb(29, 33, 37);
}

.navbar-toggler:hover {
    background-color: rgb(50, 50, 50);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
    font-size: large;
}

.nav-link:hover {
    background-color: rgb(50, 50, 50);
}